h4{
    color: blueviolet;
}
img{
    width: 4%;
    margin-left: 5px;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 10px;

}

input{
    border: none;
    width: 200px;
    border-bottom: 1px solid black;
    outline: none;
}
.login3{
    display: flex;
}
.email{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    
}
#Email{
    width: 430px;
}
.login4{
    display: flex;
}
.message{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 20px;
    
}
#Massage{
    width: 430px;
}
.section{
    display: flex;
    justify-content: space-between;
    padding: 70px;

}
.names{
    display: flex;
    gap: 20px;
}
.I{
    display: flex;
    flex-direction: column;
    
}
.II{
    display: flex;
    flex-direction: column;
}
.information{
    margin-bottom: 40px;
}
.section{
    padding-top: 100px;
}

button{
    padding: 8px 35px;
    border: none;
    border-radius: 15px;
    background-color: blueviolet;
    color: white;
    font-size: 18px;
    cursor: pointer;
    
    margin-left: 790px;
    margin-bottom: 100px;
    
    
}
